.button {
    padding: 5px 15px;
    margin: 5px 0;
    color: teal;
    font-size: 14px;
    border: 2px solid teal;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover {
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
}

